{% extends "baseDash.html" %}
{% block content %}
<form name="query" method="GET" action="/exec" style="background-color: orange; border-radius: 5px; font-family: 'Courier New', Courier, monospace; size: 20px; padding-left: 20px; width: 40vw; float: left; padding-right: 20px;text-align: center;">
    <h2>Welcome {{data}}.</h2>
    
        
        <h3> You will find the Project files and Reports under the Respective tabs.</h3>
    
    <!-- <br>
    <label style="font-size: 20px; text-align: right;"><a href="/logout">Logout</a></label> -->
    <br><br>
    <input type="text" name="loc" placeholder="Enter the location of study" style="width: 38vw;  padding: 1vw 2vw; display: block;border: 1px solid;border-radius: 3px;box-sizing: border-box;" required/>
    <br><br>
    <input type="text" name = "proj" placeholder="Name of the Project" style="width: 38vw;  padding: 1vw 2vw; display: block;border: 1px solid;border-radius: 3px;box-sizing: border-box;" required/>
    <br><br>
    <input type="number" name="ext" placeholder="Extent of Survey in KMs" style="width: 38vw;  padding: 1vw 2vw; display: block;border: 1px solid;border-radius: 3px;box-sizing: border-box;" required/>
    <br><br>
    <input type="submit" onclick="return validateInput()" value="Submit">
    <br><br>
</form>

{% endblock %}